<section class="comment">
	<div class="comment-list">
		<% post.comments.forEach(function (comment, index) { %>
		<div class="comment-name"><a href="<%= comment.website %>"><%= comment.username %></a><span class="info gray"> 回复于 <%= comment.time %></span></div>
		<div class="comment-content"><%- comment.content %></div>
		<% }) %>
	</div>
	<div class="comment-form">
		<form method="post">
			<% if(user) { %>
				<div class="row">
					<div class="c-t col-xs-2">姓名：</div>
					<div class="col-xs-10">
						<div class="c-i"><input type="text" name="username" value="<%= user.username%>" /></div>
					</div>
				</div>
				<div class="row">
					<div class="c-t col-xs-2">邮箱：</div>
					<div class="col-xs-10">
						<div class="c-i"><input type="email" name="email" value="<%= user.email%>"></div>
					</div>
				</div>
				<div class="row">
					<div class="c-t col-xs-2">网址：</div>
					<div class="col-xs-10">
						<div class="c-i"><input type="text" name="website" value="/blog/u/<%= user.username %>"></div>
					</div>
				</div>
			<% } else { %>
				<div class="row">
					<div class="c-t col-xs-2">姓名：</div>
					<div class="col-xs-10">
						<div class="c-i"><input type="text" name="username" /></div>
					</div>
				</div>
				<div class="row">
					<div class="c-t col-xs-2">邮箱：</div>
					<div class="col-xs-10">
						<div class="c-i"><input type="email" name="email"></div>
					</div>
				</div>
				<div class="row">
					<div class="c-t col-xs-2">网址：</div>
					<div class="col-xs-10">
						<div class="c-i"><input type="text" name="website" value="http://"></div>
					</div>
				</div>
			<% } %>
			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<div class="c-c"><textarea name="content"></textarea></div>
				</div>
			</div>

			<div id="subBtn" class="sub-btn"><input type="submit" value="留言"></div>
		</form>
	</div>
</section>