<% include includes/head %>
<title><%= title %></title>
<% include includes/style %>
</head>
<body>
<header>
	<% include includes/top %>
</header>

<article class="wrap">
	<section class="post-box">
		<div class="edit-btn">
			<% if(user && (user.username == post.username)) { %>
				<span><a class="edit" href="/blog/remove/<%= post.username%>/<%= post.time.day%>/<%= post.title%>">删除</a></span>
				<span><a class="edit" href="/blog/edit/<%= post.username%>/<%= post.time.day%>/<%= post.title%>">编辑</a></span>
			<% } %>
			<% var flag = 1 %>
			<% if (user && (user.username != post.username)) { %>
				<% if ((post.reprint_info.reprint_from != undefined) && (user.username == post.reprint_info.reprint_from.username)) { %>
					<% flag = 0 %>
				<% } %>
				<% if ((post.reprint_info.reprint_to != undefined)) { %>
					<% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
					<% if (user.username == reprint_to.username) { %>
						<% flag = 0 %>
					<% } %>
					<% }) %>
				<% } %>
			<% } else { %>
				<% flag = 0 %>
			<% } %>
			<% if (flag) { %>
				<span><a class="edit" href="/blog/reprint/<%= post.username %>/<%= post.time.day %>/<%= post.title %>">转载</a></span>
			<% } %>
		</div>

		<h1 class="post-tit"><%= post.title%></h1>
		<div class="post-info">
			作者：<a href="/blog/u/<%= post.username%>/"><%= post.username %></a> |
			日期：<%= post.time.minute %>
			标签：
			<% post.tags.forEach(function (tag, index) { %>
				<% if (tag) { %>
					<a class="tag" href="/blog/tag/<%= tag %>"><%= tag %></a>
				<% } %>
			<% }) %>
		</div>
		<div class="post-post"><%- post.post %></div>
	</section>
	
	<% include includes/comment %>

</article>


<footer></footer>

<% include includes/script %>
<% include includes/foot %>