<% include includes/head %>
<title><%= title %></title>
<% include includes/style %>
</head>
<body>
<header>
	<% include includes/top %>
</header>
<article class="wrap">
	<section class="post-box">
		<% if (posts.length != 0) { %>
			<% posts.forEach(function(post, index) { %>
				<div class="post-list">
					<h2><a href="/blog/u/<%= post.username %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
					<p class="info">
						作者：<a href="/blog/u/<%= post.username%>/"><%= post.username %></a> |
						日期：<%= post.time.minute %>
						标签：
						<% post.tags.forEach(function (tag, index) { %>
							<% if (tag) { %>
								<a class="tag" href="/blog/tag/<%= tag %>"><%= tag %></a>
							<% } %>
						<% }) %>
					</p>
					<p><%- post.abstract %> <a href="/blog/u/<%= post.username %>/<%= post.time.day %>/<%= post.title %>">阅读...</a></p>

					<p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
				</div>
			<% }) %>
		<% } else { %>
			<div class="post-none">
				还没有博客呦~ 赶紧去发一篇吧~~~
				<a title="写博客" href="/blog/post">写博客</a>
			</div>
		<% } %>

		<% include includes/paging %>
	</section>

</article>


<footer><div class="friend-link"><a title="友情链接" href="/blog/links">友情链接</a></span></footer>

<!-- <% if (success) { %>
	<div><%= success %></div>
<% } %>
<% if (error) { %>
	<div><%= error %> </div>
<% } %>
-->

<% include includes/script %>
<% include includes/foot %>