<% include includes/head %>
<title><%= title %></title>
<% include includes/style %>
</head>
<body>
<header>
	<% include includes/top %>
</header>
<article class="wrap">
	<section>
		<div class="top-line row">
			<div class="top-logo col-xs-4">
				<a href="/blog/"><img src="/images/logo.png" alt="" /></a>
			</div>
			<div class="top-search col-xs-8">
				<div class="search-box">
					<form action="/blog/search" method="GET">
						<input type="text" name="keyword" placeholder="请输入搜索内容!" class="search" />
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="post-box">
		<% if (posts.length != 0) { %>
			<% posts.forEach(function(post, index) { %>
				<div class="post-head">
					<% if(post.userhead) { %>
						<a href="/blog/u/<%= post.username %>">
							<img src="<%= post.userhead %>" alt="">
						</a>
					<% } else { %>
						<a href="/blog/u/<%= post.username %>">
							<img src="/files/userhead/default-head.jpg" alt="">
						</a>
					<% } %>
				</div>

				<div class="post-list">
					<h2><a href="/blog/u/<%= post.username %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
					<p class="info">
						作者：<a href="/blog/u/<%= post.username%>/"><%= post.username %></a> |
						日期：<%= post.time.minute %>
						标签：
						<% post.tags.forEach(function (tag, index) { %>
							<% if (tag) { %>
								<a class="tag" href="/blog/tag/<%= tag %>"><%= tag %></a>
							<% } %>
						<% }) %>
					</p>
					<p><%- post.abstract %> <a href="/blog/u/<%= post.username %>/<%= post.time.day %>/<%= post.title %>">阅读...</a></p>

					<p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
				</div>
			<% }) %>
		<% } else { %>
			<div class="post-none">
				还没有博客呦~ 赶紧去发一篇吧~~~
				<a title="写博客" href="/blog/kindeditor">写博客</a>
			</div>
		<% } %>

		<% include includes/paging %>
	</section>

</article>

<footer>
	<div class="footer-nav">
		<span class="friend-link"><a title="友情链接" href="/blog/links">友情链接</a></span>
		<span class="copyright">NODEJS驱动</span>
	</div>
</footer>

<!-- <% if (success) { %>
	<div><%= success %></div>
<% } %>
<% if (error) { %>
	<div><%= error %> </div>
<% } %>
-->

<% include includes/script %>
<% include includes/foot %>