<% include includes/head %>
<title><%= title %></title>
<% include includes/style %>
</head>
<body>
<header>
	<% include includes/top %>
</header>

<article class="wrap container">
	<section class="tag-box">
		<% if(posts.length != 0) { %>
			<% posts.forEach(function (tag, index) { %>
				<% if(tag) { %>
					<a class="tag" href="/blog/tag/<%= tag %>"><%= tag %></a>
				<% } %>
			<% }) %>
		<% } else { %>
			<div class="no-tag">
				暂时还没有标签哦~
				<a title="写博客" href="/blog/kindeditor">写博客</a>
			</div>
		<% } %>
	</section>
</article>

<footer></footer>

<!-- <% if (success) { %>
	<div><%= success %></div>
<% } %>
<% if (error) { %>
	<div><%= error %> </div>
<% } %>
-->

<% include includes/script %>
<% include includes/foot %>